.logo_container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 768px) {

    .logo_container {
        padding-left: 70px;

        .logo_text {
            display: none;
        }
    }
}