.main_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    overflow-x: hidden;
    @media (max-width: 768px) {
        text-align: center;
    }

    .title {
        margin-bottom: 30px;
        margin-top: 60px;
    }

    .image_block {
        flex: 1 1 calc(50% - 8px);
        margin-bottom: 16px;
        min-height: 450px;

        @media (max-width: 768px) {
            flex: 1 1 100%;
            min-height: 350px;
            order: 1;
        }
    }
}