.block_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 40px;
    position: relative;


    @media (max-width: 768px) {
        gap: 16px;
    }
}