:root {
  --background: #0b0b0b;
  --background-not-found: #121212;
  --text-white: #ededed;
  --text-gray: #bbb;
  --button-background: #ff5a1f;
  --button-hover: rgba(255, 90, 31, 0.73);
  --menu-background: #131313;
  --menu-text: #E1E1E1;
  --menu-text-accent: #D4AF37;

  --font-family: Inter;
  --second-family: Libertinus_Serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-white);
  background: var(--background);
  font-family: var(--font-family), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--text-gray);
  font-family: var(--font-family), serif;
}