:root {
    --background: #0b0b0b;
    --background-not-found: #121212;
    --text-white: #ededed;
    --text-gray: #bbb;
    --text-desc: #ccc;;
    --text-desc-sm: #a6a6a6;;
    --button-background: #ff5a1f;
    --button-hover: rgba(255, 90, 31, 0.73);
    --menu-background: rgba(96, 94, 94, 0.25);
    --header-bc: rgba(85, 85, 85, 0.2);
    --menu-text: #E1E1E1;
    --menu-text-accent: #D4AF37;

    --font-family: Inter;
    --second-family: Libertinus_Serif;

    /*font-size*/

    --lg-font: calc(36px + 30 * (100vw / 1440));
    --md-font: calc(22px + 14 * (100vw / 1440));
    --xl-font: calc(20px + 14 * (100vw / 1440));
    --sm-font: calc(18px + 12 * (100vw / 1440));
    --card-font: calc(15px + 8 * (100vw / 1440));
    --desc-font: calc(13px + 8 * (100vw / 1440));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: var(--text-white);
    background: var(--background);
    font-family: var(--font-family), serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--font-family), serif;
}

li {
    list-style: none;
}
