.header {
    padding-block: 20px;
    border-bottom: 1px solid #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    .left_header, .right_header {
        display: flex;
        align-items: center;
        gap: 25px;
    }
}