.header_container {
    width: 100%;
    margin: 0 auto;
    padding-inline: 15px;
    padding-block: 10px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.3);
    background-color: var(--header-bc);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    .header_wrapper {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;

        @media screen and (max-width: 768px) {
            justify-content: end;
        }

        .header {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: end;

            .right_header {
                display: flex;
                align-items: center;
                width: 100%;
                gap: 20px;

                > a {
                    display: inline-block;
                    width: 100%;
                    white-space: nowrap;
                    &.active {
                        color: var(--menu-text-accent);
                    }
                }
            }
        }
    }
}

/*burger*/

#menu-btn-container {
    display: none;
}

@media screen and (max-width: 768px) {
    #menu-btn-container {
        display: block;
        position: absolute;
        top: 8px;
        left: 15px;
        width: 39px;
        margin: 0 auto;
        transform: scale(1.2);
    }

    #menu-btn {
        width: 39px;
        overflow: hidden;
    }

    #menu-checkbox {
        display: none;
    }

    #menu-label {
        position: relative;
        display: block;
        height: 29px;
        cursor: pointer;
    }

    #menu-label:before,
    #menu-label:after,
    #menu-bar {
        position: absolute;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: var(--text-white);
    }

    #menu-label:before,
    #menu-label:after {
        content: "";
        transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
    }

    #menu-label:before {
        top: 0;
    }

    #menu-label:after {
        top: 12px;
    }

    #menu-bar {
        top: 24px;
    }

    #menu-bar:before {
        content: "МЕНЮ";
        position: absolute;
        top: 5px;
        right: 0;
        left: 0;
        color: var(--text-white);
        font-size: 12px;
        font-weight: bold;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
        text-align: center;
    }

    #menu-checkbox:checked + #menu-label:before {
        left: -39px;
    }

    #menu-checkbox:checked + #menu-label:after {
        left: 39px;
    }

    #menu-checkbox:checked + #menu-label #menu-bar:before {
        animation: moveUpThenDown 0.8s ease 0.2s forwards,
        shakeWhileMovingUp 0.8s ease 0.2s forwards,
        shakeWhileMovingDown 0.2s ease 0.8s forwards;
    }

    .header_container .header_wrapper .header {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
        left: -100%;
        top: 72px;
        color: var(--menu-text);
        font-size: 2rem;
        width: 100%;
        height: 60vh;
        background-color: var(--menu-background);
        backdrop-filter: blur(12px) saturate(150%);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        border-bottom: 3px solid rgba(255, 255, 255, 0.2);
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        text-align: center;
        transition: 0.3s;
        z-index: 9999;
        isolation: auto;

        .right_header {
            flex-direction: column;
        }

        &.open {
            left: 0;
            justify-content: center;
        }
    }
}

@keyframes moveUpThenDown {
    0% {
        top: 0;
    }
    50% {
        top: -27px;
    }
    100% {
        top: -14px;
    }
}

@keyframes shakeWhileMovingUp {
    0% {
        transform: rotateZ(0);
    }
    25% {
        transform: rotateZ(-10deg);
    }
    50% {
        transform: rotateZ(0deg);
    }
    75% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(0);
    }
}

@keyframes shakeWhileMovingDown {
    0% {
        transform: rotateZ(0);
    }
    80% {
        transform: rotateZ(3deg);
    }
    90% {
        transform: rotateZ(-3deg);
    }
    100% {
        transform: rotateZ(0);
    }
}