.image_block {
    flex: 1 1 calc(50% - 8px);
    margin-bottom: 16px;
    position: relative;
    min-height: 450px;

    @media (max-width: 768px) {
        flex: 1 1 100%;
        min-height: 350px;
        order: 1;
    }
}